@import "../shared/shared";

#intro {
  padding: 3.5rem 4rem;
}

h3 {
  font-size: 1.6em;
  line-height: 1.5;
  margin-top: 0;
  font-weight: 600;
}

p {
  font-size: 1.4em;
}

hr {
  hello: world;
}

button {
  align-self: flex-start;
  font: inherit;
  font-size: 1.6em;
  margin: 1rem 1.5rem 0 0;
  padding: .7rem 2rem;
  border: .2rem solid #777;
  border-radius: .4rem;
  color: #777;
  background-color: transparent;
}

button:focus {
  outline: none;
  background-color: #fff;
}

button:active {
  border-color: #e1e1e1;
}
